* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
}

.bg {
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  height: max-content;
  width: 100vw;
  position: absolute;
  inset: 0;
  background-color: hsl(270, 20%, 96%);
  overflow-x: hidden;
  z-index: 0;
}

.bg-top {
  background-image: linear-gradient(
    to top right,
    hsl(264, 100%, 61%),
    hsl(290, 66%, 57%)
  );
  height: 600px;
  width: 500px;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 0;
  left: -150px;
}

.bg-bottom {
  /* border: 2px solid green; */
  height: 600px;
  width: 500px;
  background-color: hsl(278, 76%, 95%);
  border-radius: 50% 50% 0% 0%;
  position: absolute;
  right: -150px;
  bottom: 0;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding-block: 100px;
  gap: 100px;
  padding-inline: 2rem;
  height: 100vh;
}

.mobile {
  border: 10px solid hsl(0, 0%, 100%);
  background-color: hsl(270, 20%, 96%);
  height: 560px;
  max-width: 300px;
  border-radius: 30px;
  box-shadow: 0px 5px 15px rgb(184, 184, 184);
  z-index: 10;
}

.space-box {
  border: 2px solid rgb(251, 255, 251);
  width: 120px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  transform: translate(60%, -30%);
  position: absolute;
}

.top-box {
  display: flex;
  padding-block: 30px 10px;
  border-radius: 20px 20px 5px 5px;
  background-image: linear-gradient(
    to right,
    hsl(264, 90%, 62%),
    hsl(289, 100%, 72%)
  );
}

.top-box img {
  height: 30px;
  border: 2px solid white;
  border-radius: 50px;
  margin-left: 5px;
}
.profile {
  margin-left: 20px;
  font-family: Rubik;
  color: white;
  font-size: 13px;
  font-weight: 400;
}

h5 {
  color: hsla(270, 20%, 96%, 0.548);
  font-size: 10px;
  padding-top: 3px;
}

.dots img {
  border: none;
  height: 20px;
  margin-left: 45px;
  margin-top: 5px;
}

.arrow img {
  border: none;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
}

.left-msg {
  border: 2px solidhsl(279, 52%, 90%);
  color: hsl(276, 55%, 52%);
  font-family: Rubik;
  font-size: 10px;
  width: 160px;
  margin-block: 10px;
  background-color: hsl(279, 52%, 90%);
  padding: 8px;
  border-radius: 5px 5px 5px 0;
  margin-left: 10px;
}

.sent-pics {
  display: flex;
  height: 45px;
  justify-content: space-evenly;
  width: 160px;
  margin-left: 100px;
  margin-top: 20px;
}

.sent-pics img {
  border-radius: 10px;
}

.sent-msg {
  border: 2px solid white;
  width: 130px;
  margin-left: 120px;
  margin-block: 10px;
  color: hsl(271, 15%, 43%);
  font-size: 10px;
  padding: 8px;
  background-color: white;
  border-radius: 5px 5px 0 5px;
  font-family: Rubik;
}

.walk {
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(
    to left,
    hsl(264, 90%, 62%),
    hsl(289, 100%, 72%)
  );
  padding: 10px;
  width: 170px;
  font-family: Rubik;
  font-size: 10px;
  margin-block: 10px;
  margin-left: 10px;
  color: white;
  border-radius: 5px 5px 5px 0;
}

.circle {
  border: 1px solid rgba(210, 216, 210, 0.678);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-70px);
}

#msg-form {
  border: none;
  height: 35px;
  width: 250px;
  margin-inline: 10px;
  border-radius: 50px;
  padding-left: 10px;
  font-size: 12px;
}

.forms {
  display: flex;
  position: relative;
}

.forms img {
  height: 30px;
  position: absolute;
  right: 15px;
  margin-top: 3px;
}

.about {
  z-index: 10;
  padding-inline: 2rem;
  font-family: rubik;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: hsl(271, 36%, 24%);
}

.para {
  font-size: 16.5px;
  margin-top: 20px;
  color: hsl(270, 7%, 64%);
  max-width: 450px;
  line-height: 1.5;
}

@media screen and (max-width:650px) {

  .content{
    flex-direction: column;
    height: 100%;
  }
  
}